---
import HeaderLink from "../header-link/HeaderLink.astro";
import ThemeSwitch from "../theme-switch/ThemeSwitch.astro";
import { Image } from "astro:assets";
import avatarImg from "../../assets/images/avatar.png";

const links = [
  { text: "Home", href: "/" },
  { text: "Blog", href: "/blog" },
  { text: "Projects", href: "/projects" },
];

const socials = [
  {
    text: "Twitter",
    href: "https://twitter.com/mitchy_hay",
    iconSrc: "icon-twitter",
  },
  {
    text: "GitHub",
    href: "https://github.com/mitchHay",
    iconSrc: "icon-github",
  },
];
---

<!-- Template -->
<header id="header">
  <nav class="nav-main">
    <span class="mobile-menu" id="mobile-menu"></span>

    <ul class="nav-links" id="nav-links">
      <li class="avatar">
        <a href="/">
          <Image
            src={avatarImg}
            format="webp"
            alt="avatar"
            width={200}
            height={200}
            loading="eager"
          />
        </a>
      </li>
      {
        links.map((link) => (
          <li>
            <HeaderLink href={link.href} alt={link.text} showText={true}>
              {link.text}
            </HeaderLink>
          </li>
        ))
      }
    </ul>

    <div class="nav-socials">
      <ul>
        {
          socials.map((social) => (
            <li>
              <HeaderLink
                href={social.href}
                iconSrc={`/images/${social.iconSrc}.svg`}
                alt={social.text}
                target="_blank"
              >
                {social.text}
              </HeaderLink>
            </li>
          ))
        }
        <li>
          <ThemeSwitch />
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- Scoped styles -->
<style lang="scss">
  @use "./Header.scss" as *;

  header {
    @include header-styles();
  }
</style>

<!-- JS -->
<script>
  const header = document.getElementById("header") as HTMLDivElement;
  const navLinks = document.getElementById("nav-links") as HTMLDivElement;
  const mobileMenu = document.getElementById("mobile-menu") as HTMLSpanElement;
  mobileMenu.onclick = () => {
    if (!!navLinks.style.display && navLinks.style.display !== "none") {
      header.style.backgroundColor = "var(--bg-header-color)";
      navLinks.style.display = "none";
      return;
    }

    header.style.backgroundColor = "var(--bg-color)";
    navLinks.style.display = "inline-block";
  };
</script>
