---
import Page from '../layouts/page/Page.astro';
import Button from '../components/button/Button.astro';
import Card from '../components/card/Card.astro';
import Highlight from '../components/highlight/Highlight.astro';
import ToolContainer from '../components/tool-container/ToolContainer.astro';
import Section from '../components/section/Section.astro';
import { Image } from 'astro:assets';
import avatar from '../assets/images/avatar.png';
import type { ToolProps } from '../components/tool/ToolProps';
import { getCollection } from 'astro:content';

// Images
import angularLogo from '../assets/images/tools/angular.svg';
import reactLogo from '../assets/images/tools/react.svg';
import sassLogo from '../assets/images/tools/sass.png';
import dotnetLogo from '../assets/images/tools/dotnet.svg';
import dockerLogo from '../assets/images/tools/docker.png';
import netlifyLogo from '../assets/images/tools/netlify.svg';
import azureLogo from '../assets/images/tools/azure.png';

const tools: ToolProps[] = [
  { 
    name: 'Angular',
    imgSrc: angularLogo
  },
  {
    name: 'React',
    imgSrc: reactLogo
  },
  {
    name: 'Sass',
    imgSrc: sassLogo
  },
  {
    name: 'dotnet',
    imgSrc: dotnetLogo
  },
  {
    name: 'docker',
    imgSrc: dockerLogo
  },
  {
    name: 'netlify',
    imgSrc: netlifyLogo
  },
  {
    name: 'Azure DevOps',
    imgSrc: azureLogo
  }
];

const topThreePosts = (await getCollection('blog'))
  .sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
  )
  .slice(0, 3);

const title = "Home | Mitchell Hayward";
const description = "Hey I'm Mitch! I'm a software developer with a passion for front-end development, game development, and test automation! Here you'll find my blog and developer portfolio, feel free to have a lil' nosey - I don't bite!";
---

<Page className="page-landing" title={title} description={description}>
  <Image src={avatar}
         class="img-avatar"
         width="400"
         height="400"
         alt="Avatar" />
  <h1 class="h1-landing">
    Hey, I'm Mitch <span class="wave">👋</span>
  </h1>
  <p class="landing-blurb">
    A full-stack software engineer with over <Highlight text="five years" /> experience!
  </p>

  <Section class='tools-section'
           title="I've shipped 5+ apps for the web and mobile 🚀">
    <p>
      I've worked on various teams to help deliver exceptional, performant and accessible experiences to thousands of people.
    </p>

    <h3>What's on my tool belt?</h3>

    <ToolContainer tools={tools} />
  </Section>

  <Section title='I love to learn and share 💡'>
    <p>
      I'm a tinkerer at heart; I'm extremely passionate about learning, experimenting, and trying something new.
    </p>

    <h3>Latest blog posts</h3>
    
    <!-- Preview of blog -->
    <div class="blog-posts-container">
    {
      topThreePosts.map(post => (
        <Card imgSrc={post.data.heroImage ?? ''}
              title={post.data.title}
              href={`/blog/${post.slug}`}>
          <p>{post.data.description}</p>
        </Card>
      ))
    }
    </div>

    <Button text='View all' href="/blog" />
  </Section>
</Page>

<!-- Scoped styles -->
<style lang="scss">
  @use '../styles/pages/Home.scss' as *;

  .page-landing {
    @include home-page-styles();
  }
</style>